.mission-block {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vw;

    img {
        width: 50vw;
        height: 50vw
    }

    .buttons-container {
        width: 50vw;
        height: 50vw;
        display: flex;
        flex-direction: column;

        .button {
            height: 12.5vw;
            width: 50vw;
            display: flex;
            flex-direction: row;
            transition: 0.3s;
            cursor: pointer;
            background-color: #eee;

            img {
                align-self: center;
                margin: 50px;
            }

            div {
                display: flex;
                flex-direction: column;
                width: 40vw;
                justify-content: center;
                
                .title {
                    font-family: 'Ubuntu-Bold';
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                .description {
                    font-family: 'Ubuntu-Regular';
                    font-size: 20px;
                }
            }

            &:hover {
                background-color: #ddd;
                transition: 0.3s;
            }

            &.active {
                background-color: #0055dd;
                color: white;

                img {
                    filter: brightness(5);
                }
            }
        }
    }
}